body
{
    margin: 0px;
    padding: 0px;
    /* removes the margins of the website */
    background-image: url(../Images/Castle2.jpg);
    background-repeat: repeat;
    background-size: 100%;


}
h1
{
    text-align: center;
    background-color: rgb(36, 35, 35);
    margin: 0px;
    padding-bottom: 10px;
    color: white;
}

.title
{
    padding-top: 20px;

}
.navbar ul
{
    list-style-type: none;
    /* list style is the style of the list, by default bullet pointsm none makes it as none */
    background-color: rgb(36, 35, 35);
 /* changes the color of the nav bar UL */
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    /* hides the overflow */
}
/* the ul mean that we are target the unorganized list inside the navbar class */
.navbar a
{
    color: white;
    padding-right: 180px;
    padding-left: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 175%;
    /* this individually adds 15px to each element of the list */
    text-decoration: none;
    /* removes the underline */
    display: block;
    /* displays texts as blocks */
    text-align: center;
    float: left;
}
/* this is refrencing the a elements in the navbar (the links) */
.navbar a:hover
{
    background-color: rgb(104, 104, 104) ;
}
.Container
{
    display:grid ;
    align-items: center;
    grid-template-columns: 0.3fr 0.7fr;
    column-gap: 20px;
    margin-bottom: 80px;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    height: 500px;
    width: auto;

}
.Merchview
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: table;
    top: 0;
    left: 0;
    border: 2px solid black;
    

}
.Merchview img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}
h2
{
    font-size: 40px;

}
.Buy
{
    background-color: white;
    color: gray;
    height: 40px;
    width: auto;
    transition: 0.15s, 0.15s;
    cursor: pointer;
}
.Buy:hover
{
    background-color: gray;
    color: white;

}
h3
{
    margin-left: 40px;
    font-size: 40px;
}
.Store
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: table;
    top: 0;
    left: 0;

}
.Store img
{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
